<div class="container aboutdiv">
    <div class="row">
        <div class="col">
            <img src={{persona.img}} id="perfil" alt="">
        </div>
        <div class="col" id="datosPersonales">
            <div class="descripcionocultable col" id="nombreytitulo">
                <h1>{{persona.nombre}} {{persona.apellido}}</h1>
                <H2>{{persona.subtitulo}}</H2>
            </div>
            <div class="descripcionocultable col" id="celularylocacion">
                <h2><i class="uil uil-phone"></i>{{persona.telefono}}</h2>
                <h2><i class="uil uil-map-marker"></i> {{persona.ubicacion}}</h2>
                <br>
            <button type="button" class="btn btn-info" routerLink="/editcelubi/{{persona.id}}" *ngIf="isLogged">
                Editar
            </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col about">
            <h2 id="tituloabout">Acerca de mi</h2>
            <h3 id="parrafoabout">{{persona.subtitulo}}</h3>
            <h3>{{persona.descripcion}}
            </h3>
        </div>
        <div class="notLogged">
            <h2 class="LetraNot" *ngIf="!isLogged">Inicie sesión para agregar/editar su descripción</h2>
        </div>
        <button type="button" class="btn btn-info" id="botonabout" routerLink="/editabout/1" *ngIf="isLogged">
            Editar About
        </button>
    </div>
</div>