<div class="everything">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="../../../assets/img/perfil.png" id="perfil" alt="">
            </div>
        </div>
        <div class="row">
            <div class="descripcionocultable col" id="nombreytitulo">
                <h1>LEONEL CHUPITEA</h1>
                <H2>FULL-STACK DEVELOPER JR.</H2>
            </div>
        </div>
        <div class="row">
            <div class="descripcionocultable col" id="celularylocacion">
                <h2><i class="uil uil-phone"></i>11 4406-1506</h2>
                <h2><i class="uil uil-map-marker"></i> Argentina, Buenos Aires</h2>
            </div>
        </div>
        <div class="row">
            <div class="about">
                <h2 id="tituloabout">Acerca de mi</h2>
                <p id="parrafoabout">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ipsum sapiente quis facere, nisi fugiat molestiae necessitatibus quaerat corporis atque quae eos eligendi perferendis tempore porro aliquid suscipit consequuntur vero.</p>
            </div>
        </div>
    </div>
</div>