<div class="experience">
    <div class="row">
        <div class="col sm-12 lg-6 columnas">
            <h1 class="titulo">Experiencia laboral</h1>
                <ul class="lista1">
                    <li><h1 class="h1inside"> Operario en fabrica de productos dieteticos - Ania</h1> <H3 class="h3inside">mayo 2017 - marzo 2018</H3>
                        <p> Trabaje aproximadamente un año como aprendiz de maestro pizzero para una fabrica llamada "Ania" La cual elaboraba distintos productos alimenticios de tipo dietetico tales como budines, milanesas de soja, galletitas libres de gluten y demás.</p>
                    </li>
                    <li><h1 class="h1inside">Agente Aeroportuario - Fly Seg</h1> <H3 class="h3inside">Abril 2018 - Enero 2022</H3>
                        <p>Comencé mi carrera en el mundo aeronautico brindando servicios a distintas aerolineas tales como Azul, Paranair e Iberia en el aeropuerto de Ezeiza trabajando para una compañia tercerizada llamada "Fly Seg".</p>
                    </li>
                    <li><h1 class="h1inside">Agente de Cargas - American Airlines Cargo</h1> <H3 class="h3inside">mayo 2017 - marzo 2018</H3>
                        <p>Actualmente me encuentro trabajando para American Airlines Cargo como agente de reservas del departamento en Inglés. trabajamos con clientes de todo el mundo y realizamos envíos de todo tipo, que van desde articulos peligrosos hasta mascotas.
                        </p>
                    </li>
                </ul>
        </div>

        <div class="col sm-12 lg-6 columnas">
            <h1 class="titulo">Educación</h1>
                <ul class="lista1">
                    <li><h1 class="h1inside">Bachillerato orientado en Economía - Instituto Mariano Moreno</h1> <H3 class="h3inside">2011 - 2017</H3>
                        <p>Me recibí con título secundario en el Instituo Mariano Moreno, Luis Guillón.</p>
                    </li>
                    <li><h1 class="h1inside">Advanced Certificate In English - Instituto Superior del Profesorado en Lenguas Vivas</h1> <H3 class="h3inside">2008 - 2017</H3>
                        <p>Luego de 9 años de estudios particulares, alcancé el nivel mas alto de certificación en estudios de la lengua inglesa.</p>
                    </li>
                    <li><h1 class="h1inside">Curso de programacion Front-end - Plataforma 5</h1> <H3 class="h3inside">2020 - 2021</H3>
                        <p>Primeros contactos con el mundo de la programación, aprendi los conceptos basicos y conseguí buenas bases de HTML, CSS y Javascript.</p>
                    </li>
                    <li><h1 class="h1inside">Programador Full-stack JR. - Argentina Programa</h1> <H3 class="h3inside">2021 - 2022</H3>
                        <p>Actual curso de programación en el que estoy trabajando. Un enfoque mas dinamico, aprendiendo tanto la parte front-end como back-end, las conexiones y engranajes necesarios para que todo el ecosistema encuentre un funcionamiento óptimo.</p>
                    </li>
                </ul>
        </div>
    </div>
</div>
