<div class="row">
    <div>
        <h1>Experiencia laboral</h1>
    </div>
    <div class="col d-flex justify-content-center" id="botonexp">
        <button type="button" class="btn btn-info" routerLink="/nuevaexp" *ngIf="isLogged">
            Agregar nueva experiencia
        </button>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <tbody>
                    <tr *ngFor="let Experiencia of expe">
                        <td>
                            <h2>{{Experiencia.nombreE}}</h2>
                        </td>
                        <td>{{Experiencia.descripcionE}}</td>
                        <td *ngIf="isLogged"><button class="btn btn-secondary"
                                routerLink='/editexp/{{Experiencia.id}}'><i class="uil uil-edit-alt"></i></button></td>
                        <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Experiencia.id)"><i
                                    class="uil uil-trash-alt"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <div class="notLogged">
                <h2 class="LetraNot" *ngIf="!isLogged">Inicie sesión para poder agregar sus propias experiencias</h2>
            </div>
        </div>
    </div>
</div>