<div class="backgroundcolor">
    <div class="skills">
        <div class="container">
            <div class="row">
                <div class="col circle">
                    <circle-progress 
                        [percent]="90"
                        [radius]="100"
                        [showImage]="true"
                        [imageSrc]="'../assets/iconosSkills/html.png'"
                        [imageHeight]="60"
                        [imageWidth]="60"
                        [clockwise]="false"
                        [showUnits]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="1000"
                    ></circle-progress>
                    <span class="subtitle">Conocimientos en HTML</span>
                </div>
                <div class="col circle">
                    <circle-progress 
                        [percent]="90"
                        [radius]="100"
                        [showImage]="true"
                        [imageSrc]="'../assets/iconosSkills/CSS.png'"
                        [imageHeight]="60"
                        [imageWidth]="60"
                        [clockwise]="false"
                        [showUnits]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="1000"
                    ></circle-progress>
                    <span class="subtitle">Conocimientos en CSS</span>
                </div>
                <div class="col circle">
                    <circle-progress 
                        [percent]="85"
                        [radius]="100"
                        [showImage]="true"
                        [imageSrc]="'../assets/iconosSkills/js.png'"
                        [imageHeight]="60"
                        [imageWidth]="60"
                        [clockwise]="false"
                        [showUnits]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="1000"
                    ></circle-progress>
                    <span class="subtitle">Conocimientos en Javascript</span>
                </div>
            </div>
            <div class="row">
                <div class="col circle">
                    <circle-progress 
                        [percent]="85"
                        [radius]="100"
                        [showImage]="true"
                        [imageSrc]="'../assets/iconosSkills/git.png'"
                        [imageHeight]="60"
                        [imageWidth]="60"
                        [clockwise]="false"
                        [showUnits]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="1000"
                    ></circle-progress>
                    <span class="subtitle">Manejo de GIT</span>
                </div>
                <div class="col circle">
                    <circle-progress 
                        [percent]="95"
                        [radius]="100"
                        [showImage]="true"
                        [imageSrc]="'../assets/iconosSkills/eng.png'"
                        [imageHeight]="60"
                        [imageWidth]="60"
                        [clockwise]="false"
                        [showUnits]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="1000"
                    ></circle-progress>
                    <span class="subtitle">Nivel de inglés</span>
                </div>
                <div class="col circle">
                    <circle-progress 
                        [percent]="80"
                        [radius]="100"
                        [showImage]="true"
                        [imageSrc]="'../assets/iconosSkills/grupal.png'"
                        [imageHeight]="60"
                        [imageWidth]="60"
                        [clockwise]="false"
                        [showUnits]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="1000"
                    ></circle-progress>
                    <span class="subtitle">Trabajo en equipo</span>
                </div>
            </div>
        </div>
    </div>
</div>