.header{
    position: sticky;
    top: 0;
    background-color: aqua;
}

.social{
    margin: 10px;
}

.botones-social{
    margin: 2%;
}

.login{
    margin-top: 20px;
    padding-right: 5%;
}

#logOut{
    display: inline-block;
}

.logo{
    left: 20px;
    top: 3px;
}