.project{
    padding-top: 2em;
}

#titulo{
    font-size: 4em;
    color: rgb(207, 252, 254);
    text-align: center;
    padding-bottom: 8px;
}

#descripcion{
    font-size: 2em;
    color: rgb(211, 211, 211);
    text-align: center;
}

.descripcion{
    display: block;
    margin-left: 10px;
}

.video{
    text-align: center;
    margin: 7%;
}

#video{
    box-shadow: 10px 10px 45px #000000;
    box-shadow: ejeX ejeY difumasion color;
}
