<div class="skills">
        <div class="container">
            <div>
                <h1>Skills</h1>
            </div>
            <div class="col d-flex justify-content-center">
                <button type="button" class="btn btn-info" routerLink="/newskill" *ngIf="isLogged">
                    Nueva Skill
                </button>
            </div>

            <div class="row">
                <div class="col circle" *ngFor="let skill of skill">
                    <circle-progress 
                        [percent]="(skill.porcentaje)"
                        [radius]="100"
                        [showImage]="false"
                        [imageSrc]="''"
                        [title]="(skill.nombre)"
                        [showTitle]="true"
                        [titleColor]="'rgb(207, 252, 254)'"
                        [imageHeight]="60"
                        [imageWidth]="60"
                        [clockwise]="false"
                        [showUnits]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#54b0f7'"
                        [innerStrokeColor]="'#54e7f7'"
                        [animation]="true"
                        [animationDuration]="1000"
                    ></circle-progress>
                    <span class="subtitle">Conocimientos en {{skill.nombre}}</span>
                    <div>
                        <td *ngIf="isLogged"><button class="btn btn-secondary" routerLink='/editskill/{{skill.id}}'><i
                            class="uil uil-edit-alt"></i></button></td>
                        <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(skill.id)"><i
                            class="uil uil-trash-alt"></i></button></td>
                    </div>
                </div>
            </div>
            <div class="notLogged">
                <h2 class="LetraNot" *ngIf="!isLogged">Inicie sesión para poder modificar las skills</h2>
            </div>
        </div>
</div>